.title-transaction {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  color: white;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  transition: 250ms ease;
}

.list li:hover {
  opacity: 0.8;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

li {
  list-style: none;
  text-decoration: none;
}

.minus,
.plus {
  font-size: 16px;
  font-weight: 600;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  padding: 4.5px;
  color: rgb(255, 255, 255);
  background-color: #e42510;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease-in
}

.delete-btn:hover {
  transform: scale(1.10);
  background-color: #c0392b;
}
